{% extends 'components/shell.html' %}

{% block content %}
<section class="page site-section site-section--favorites" id="page">
  <h1>Favorites</h1>
  <div>
    <h2>Filters</h2>
    <ul class="site-section__filters">
      <li>
        <p>Type</p>
        <ul>
          <li>
            <a href="/favorites?type=artist">Artists</a>
          </li>
          <li>
            <a href="/favorites?type=post">Posts</a>
          </li>
        </ul>
      </li>
      {% if props.fave_type == "artist" %}
        <li>
          <p>Sort by</p>
          <ul>
            <li>
              <a href="/favorites?type=artist&sort=updated">Last updated</a>
            </li>
            <li>
              <a href="/favorites?type=artist&sort=faved_seq">Faved date</a>
            </li>
          </ul>
        </li>
      {% else %}
        <li>
          <p>Sort by</p>
          <ul>
            <li>
              <a href="/favorites?type=post&sort=faved_seq">Faved date</a>
            </li>
            <li>
              <a href="/favorites?type=post&sort=published">Published</a>
            </li>
          </ul>
        </li>
      {% endif %} 
      <li>
        <p>Order</p>
        <ul>
          <li><a href="/favorites?order=desc">Descending</a></li>
          <li><a href="/favorites?order=asc">Ascending</a></li>
        </ul>
      </li> 
    </ul>
  </div>
  {% if props.fave_type == "artist" %}
    {% include 'components/artist_list.html' %}
  {% else %}
    {% include 'components/post_list.html' %}
  {% endif %}
</section>
{% endblock %}
