{% extends 'components/shell.html' %}

{% from 'components/constants.html' import paysites_dict, paysites_list %}

{% set service = request.args.get('service') %}
{% set user = request.args.get('user') %}

{% block content %}
<section class="page site-section site-section--requests-new" id="page">
  <header class="site-section__header">
    <h1>New request</h1>
    {% if service and user %}
      <p>
        Creating request for {{ service }}:{{ user }}
      </p>
    {% endif %}
  </header>
  
  <form
    class="form form--bigger"
    action="/requests/new"
    enctype="multipart/form-data"
    method="post"
  >
    {% if service %}
      <input
        type="hidden"
        name="service"
        value="{{ service }}"
      >
    {% else %}
      <div class="form__section">
        <label for="service">Service:</label>
        <select 
          id="service"
          class="form__select" 
          name="service"
        >
          {% for paysite in paysites_list %}
            <option 
              class="form__option" 
              value="{{ paysite }}"
            >
              {{ paysites_dict[paysite].title }}
            </option>
          {% endfor %}
        </select>
      </div>
    {% endif %}

    {% if user %}
      <input
        type="hidden"
        name="user_id"
        value="{{ user }}"
      > 
    {% else %}
      <div class="form__section">
        <label for="user_id">User ID:</label>
        <input
          id="user_id"
          class="form__input"
          type="text"
          name="user_id"
          autocomplete="off"
          required
        >
        <small class="form__subtitle">
          <a href="#user-id">How to get user IDs.</a>
        </small>
      </div>  
    {% endif %}
    <div class="form__section">
      <label for="title">Request Title:</label>
      <input
        id="title"
        class="form__input"
        type="text"
        name="title"
        autocomplete="off"
        required
      >
      <small class="subtitle">Include things like artist name, requested tier/price, etc.</small>
    </div>
    <div class="form__section">
      <label for="description">Request Description:</label>
      <textarea
        id="description"
        class="form__textarea"
        name="description"
        maxlength="5000"
        cols="48"
        rows="4"
        wrap="soft"
      ></textarea>
      <small class="form__subtitle">
        Include any additional information...
      </small>
    </div>
    <div class="form__section form__section--currency">
      <label for="price">Price:</label>
      <div class="form__wrapper">
        <input 
          id="price"
          class="form__input"
          name="price" 
          type="number" 
          min="0.00" 
          max="10000.00" 
          step="0.01" 
          required
        />
      </div>
      
      <small class="form__subtitle">
        The minimum price of the tier/product you are requesting. 
        <br> 
        100¥ is roughly $1 USD.
      </small>
    </div>
    <fieldset id="conditions" class="form__fieldset">
      <legend>Fulfillment condition</legend>
      <div class="form__section form__section--radio">
        <input 
          id="condition-any"
          type="radio" 
          class="form__input"
          name="condition" 
          value="any"
          checked
        >
        <label 
          class="form__label"
          for="condition-any"
        >
          Any update
        </label>
      </div>
      <div class="form__section form__section--radio">
        <input 
          id="condition-specific"
          class="form__input"
          type="radio"
          name="condition" 
          value="specific"
        >
        <label 
          class="form__label"
          for="condition-specific"
        >
          Specific post
        </label>
      </div>
      <fieldset disabled class="form__fieldset form__fieldset--empty">
        <label 
          class="form__label"
          for="specific_id"
        >
          Post/product ID:
        </label>
        <input
          id="specific_id"
          class="form__input"
          type="text"
          name="specific_id"
          autocomplete="off"
        >
        <small class="form__subtitle">
          The condition needed for this request to be considered completed.
        </small>
      </fieldset>
    </fieldset>

    <div class="form__section form__section--file">
      <input
        id="image"
        class="form__input"
        type="file"
        name="image"
        accept="image/jpeg,image/png,image/gif"
      />
      <label 
        class="form__label" 
        for="image"
      >
        Image (1MB size limit)
      </label>
      
      <small class="form__subtitle">
        An optional cover image. Attaching one may increase chances of people seeing your request.
      </small>
    </div>
    <div class="form__section">
      <button 
        class="form__button form__button--submit"
        type="submit" 
        name="commit"
      >
        Submit
      </button>
    </div>
    
  </form>
  <article id="user-id">
    <h2>How to get user IDs</h2>
    <ul>
      <li>The ID for already imported users is in the URL - https://kemono.party/&lt;service&gt;/&lt;type&gt;/<strong>&lt;id&gt;</strong></li>
      <li><strong>Patreon</strong>, <strong>Pixiv Fanbox</strong>, and <strong>Gumroad</strong> - drag the links into your bookmark bar and click while on the user's page.
        (<a href="javascript:window.alert(&quot;This user's ID is &quot; + window.patreon.bootstrap.campaign.data.relationships.creator.data.id + &quot;.&quot;);">Get Patreon ID</a>,
        <a href="javascript:fetch('https://api.fanbox.cc/creator.get?creatorId='+location.host.split('.')[0]).then(a=>a.json()).then(data=>window.alert(&quot;This user's ID is &quot; + data.body.user.userId + &quot;.&quot;));">Get Fanbox ID</a>,
        <a href="javascript:window.alert(&quot;This user's ID is &quot; + document.getElementsByClassName('creator-profile-card')[0].dataset.userId + &quot;.&quot;);">Get Gumroad ID</a>)
      </li>
      <details>
        <summary><i>Can't use bookmarklets?</i></summary>
        
        <li>For <strong>Patreon</strong>, run <code>window.patreon.bootstrap.campaign.data.relationships.creator.data.id</code> in the Javascript console on the artist's page.</li>
        <li>For <strong>Pixiv Fanbox</strong>, go to the Network tab in DevTools, click <i>XHR,</i> look for <i>creator.get</i> and find <strong>userId</strong>.</li>
        <li>For <strong>Gumroad</strong>, run <code>document.getElementsByClassName('creator-profile-card')[0].dataset.userId</code> in the Javascript console on the artist's page.</li>
        <br>
      </details>
      <li><strong>SubscribeStar</strong> - https://subscribestar.adult/<strong>&lt;id&gt;</strong></li>
      <li><strong>DLsite</strong> - https://www.dlsite.com/eng/circle/profile/=/maker_id/<strong>&lt;id&gt;</strong>.html</li>
    </ul>
  </article>
</section>
{% endblock %}
