@use "../../css/variables" as *;

.card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;

  &--feature {

    & > * {
      flex: 0 0 $width-feature;
    }
  }

  &--mobile {
    
    & > * {
      flex: 0 0 $width-mobile;
    }
  }

  &--phone {

    & > * {
      flex: 0 0 $width-phone;
    }
  }

  &--tablet {

    & > * {
      flex: 0 0 $width-tablet;
    }
  }

  & > * {
    margin: $size-small;
  }
}
