{% from 'components/paginator.html' import paginator, new_paginator  %}

<div class="vertical-views">
  <div class="paginator" id="paginator-top">
    {{ new_paginator(request, props, base) }}}
    {{ paginator(request, props, base) }}
    <form
      action="{{ request.path }}"
      method="GET"
      enctype="application/x-www-form-urlencoded"
    >
      <input
        type="text"
        name="q"
        id="q"
        autocomplete="off"
        value="{{ request.args.get('q') if request.args.get('q') }}"
        placeholder="search for posts..."
        class="search-input"
      >
      <input type="submit" style="display: none;">
    </form>
  </div>
  <div class="no-posts">
    {% if results|length == 0 %}
      <h1 class="subtitle">Nobody here but us chickens!</h1>
      <p class="subtitle">
        There are either no more posts beyond this page, or this user hasn't been imported.
      </p>
    {% endif %}
  </div>
  <div class="content-grid" id="content">
    {% for post in results %}
      {% with post=post %}
        {% include 'components/preview.html' %}
      {% endwith %}
    {% endfor %}
  </div>
  {{ paginator(request, props, base) }}
</div> 
